.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 25px;
  border-right: 1px solid rgb(219, 215, 215);
  /* background-color: aqua; */
  line-height: 24px;
}

.lists{
    display: flex;
    gap: 45px;
    justify-content: space-between;
    align-items: center;

}
