.wrap {
    position: relative;
}

.count {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    background-color: red;
    top: -5px;
    right: -5px;
    font-size: 12px;
    font-weight: 500;
}